<template>
  <div id="loginForm">
    <div v-if="loginForm.data">
        <form v-bind:action="loginForm.data.action"
                v-bind:id=" loginForm.data.id"
                ref="myLoginForm"
                v-on:submit.prevent="loginFormSubmit">

            <template v-for="loginFormField in loginForm.data.fields">
                <template v-if="loginFormField.type == 'submit'">
                    <button class="btn btn-block btn-warning" v-bind:type="loginFormField.type">
                        {{ loginFormField.label }}
                    </button>
                </template>
                <template v-else-if="loginFormField.type == 'hidden'">
                    <input v-bind:type="loginFormField.type"
                           v-bind:name="loginFormField.name"
                           v-bind:placeholder="loginFormField.label" class="form-control">
                </template>
                <template v-else>
                    <div class="form-group">
                        <input v-bind:type="loginFormField.type"
                               v-bind:name="loginFormField.name"
                               v-bind:placeholder="loginFormField.label" class="form-control">
                        <!-- вывод ошибок для одного поля -->
                        <div class="default-class" v-if="hasErrors(loginFormField.name)"
                                v-bind:class="{'field-has-errors': hasErrors(loginFormField.name)}">
                            {{loginForm.errors[loginFormField.name].message}}
                        </div>
                    </div>
                </template>
            </template>

            <div class="form-links">
                <div class="form-links__item"><a href="#">Забыли пароль?</a></div>
                <div class="form-links__item"><a href="#">Зарегистрировать юридическое лицо</a></div>
            </div>

        </form>

    </div>
</div>
</template>

<script>

import Vue from 'vue';
import config  from '../config'

export default {
  name: 'Login',
        data() {
             return {loginForm: {
                 data:''
             },
            fieldNames: {},
            routes: '',
            showAbout: false
        }
        },
        methods: {
              _collectFromData: function(){
                let loginFormData = new FormData();
                const fieldNames = this.loginForm.data.fields.map(i => i.name);

                fieldNames.forEach(field => {
                    loginFormData.append(field, this.$refs.loginFormGetData[field].value)
                });

                return loginFormData;
            },
            _onRequestSuccess(response){
                if(response.data.errors && response.data.errors.length === 0){
                    window.location.reload();
                }
                this.loginForm.errors = response.data.errors;
            },
            _onRequestError(errors){
                // TODO
            },
            hasErrors(fieldName){
                if (this.loginForm.errors && this.loginForm.errors[fieldName]) {
                    return this.loginForm.errors[fieldName];
                }
            },
            loginFormSubmit: function () {
                axios({
                    method: this.loginForm.data.method,
                    url: this.loginForm.data.action,
                    data: this._collectFromData(),
                    config: {headers: {'Content-Type': 'multipart/form-data'}}
                })
                        .then(this._onRequestSuccess)
                        .catch(this._onRequestError)
            },
            showHideAbout: function() {
                this.showAbout = !this.showAbout;
            }
        },
        mounted() {
            Vue.axios
                .get(`${config.API_URL}form/user/login/`)
                .then(response => (this.loginForm = response.data));
        }
}
</script>
