<template>
  <div id="registration-form">
    <div v-if="registrationForm.data">
        <form v-bind:action="registrationForm.data.action"
                v-bind:id=" registrationForm.data.id"
                ref="myLoginForm"
                v-on:submit.prevent="loginFormSubmit">


        </form>

    </div>
</div>
</template>

<script>

import Vue from 'vue';
import config  from '../config'

export default {
  name: 'Registration',
        data() {
             return {registrationForm: {
                 data:''
             },
            fieldNames: {},
            routes: '',
            showAbout: false
        }
        },
        methods: {
              _collectFromData: function(){
                let loginFormData = new FormData();
                const fieldNames = this.loginForm.data.fields.map(i => i.name);

                fieldNames.forEach(field => {
                    loginFormData.append(field, this.$refs.loginFormGetData[field].value)
                });

                return loginFormData;
            },
            _onRequestSuccess(response){
                if(response.data.errors && response.data.errors.length === 0){
                    window.location.reload();
                }
                this.loginForm.errors = response.data.errors;
            },
            _onRequestError(errors){
                // TODO
            },
            hasErrors(fieldName){
                if (this.loginForm.errors && this.loginForm.errors[fieldName]) {
                    return this.loginForm.errors[fieldName];
                }
            },
            loginFormSubmit: function () {
                axios({
                    method: this.loginForm.data.method,
                    url: this.loginForm.data.action,
                    data: this._collectFromData(),
                    config: {headers: {'Content-Type': 'multipart/form-data'}}
                })
                        .then(this._onRequestSuccess)
                        .catch(this._onRequestError)
            },
            showHideAbout: function() {
                this.showAbout = !this.showAbout;
            }
        },
        mounted() {
            Vue.axios
                .get(`${config.API_URL}/form/user/registration/`)
                .then(response => (this.loginForm = response.data));
        }
}
</script>
