<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/template_styles.min.css">
</head>
<body id="app">
<div id="loginForm">
    <div v-if="loginForm.data">
        <form v-bind:action="loginForm.data.action"
                v-bind:id=" loginForm.data.id"
                ref="myLoginForm"
                v-on:submit.prevent="loginFormSubmit"
              v-on:submit.prevent="loginForm.data.method">

            <template v-for="loginFormField in loginForm.data.fields">
                <template v-if="loginFormField.type == 'submit'">
                    <button class="btn btn-block btn-warning" v-bind:type="loginFormField.type">
                        {{ loginFormField.label }}
                    </button>
                </template>
                <template v-else-if="loginFormField.type == 'hidden'">
                    <input v-bind:type="loginFormField.type"
                           v-bind:name="loginFormField.name"
                           v-bind:placeholder="loginFormField.label" class="form-control">
                </template>
                <template v-else>
                    <div class="form-group">
                        <input v-bind:type="loginFormField.type"
                               v-bind:name="loginFormField.name"
                               v-bind:placeholder="loginFormField.label" class="form-control">
                        <!-- как вставить сюда обработку ошибок? -->
                    </div>
                </template>
            </template>

            <div class="form-links">
                <div class="form-links__item"><a href="#">Забыли пароль?</a></div>
                <div class="form-links__item"><a href="#">Зарегистрировать юридическое лицо</a></div>
            </div>

        </form>

    </div>
</div>
<script src="js/bundle.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const resp = {"result":true,"data":{"name":"login","id":"login","action":"\/api\/auth\/","method":"post","fields":[{"name":"user","order":0,"visible":true,"type":"hidden","label":null,"value":0,"multiple":false},{"name":"email","order":1,"visible":true,"type":"text","label":"E-mail","value":null,"multiple":false},{"name":"password","order":2,"visible":true,"renderPassword":false,"type":"password","label":"\u041f\u0430\u0440\u043e\u043b\u044c","value":null,"multiple":false},{"name":"submit","order":99,"visible":true,"type":"submit","label":"\u0412\u043e\u0439\u0442\u0438 \u0432 \u0441\u0438\u0441\u0442\u0435\u043c\u0443","value":null,"multiple":false}]},"errors":[]}
    // http://staff.bitrix.dev.realweb.ru/api/auth/
    new Vue({
        el: '#loginForm',
        data: {
            loginForm: {
                data: null,
                errors: null
            }
        },
        methods: {
            loginFormSubmit: function () {
                
                let dataToSubmit = {};
                const fieldNames = this.loginForm.data.fields.map(i => i.name);

                fieldNames.forEach(field => {
                    dataToSubmit[field] = this.$refs.myLoginForm[field].value
                })
       
                axios
                    .post('http://staff.bitrix.dev.realweb.ru/api/form/user/login/', dataToSubmit) // как передавать здесь данные из формы?
                    .then(response => {
                        this.loginForm.errors = response.data.errors
                    })
                    .catch(errors => {

                    })
            }
        },
        mounted() {
            axios
                .get('http://staff.bitrix.dev.realweb.ru/api/form/user/login/')
                .then(response => (this.loginForm = response.data));
            //this.loginForm = resp
        }
    });
</script>
</body>
</html>